extends layout

include partials/cards/_weeklyStepsSummary
include partials/cards/_weeklyPeopleSummary
include partials/cards/_weeklyCoffeeSummary
include partials/cards/_sleepSummary

block content
  .cover
    .container
      .col-sm-12.text-center
        h2 You’ve logged #[span.highlighted #{h.addCommas(summary.count)}] snapshots
        h2 since #[span.highlighted #{h.moment(summary.firstDate).format('dddd, MMMM Do YYYY')}]
        h2 mostly from #[span.highlighted #{summary.commonCity},#{summary.commonState}].

  .light-gray-background
    .container
      .row
        .col-sm-6
          +weeklyStepSummary()
        .col-sm-6
          +weeklyPeopleSummary()
        .col-sm-6
          +weeklyCoffeeSummary()
        .col-sm-6
          +sleepSummary(sleepSummary)    
  
  //- pre= h.dump(sleepSummary)
