extends layout

block content
  //- pre= h.dump(summary)
  .cover
    .container
      .col-sm-12.text-center
        h2 You’ve logged #[span.highlighted #{h.addCommas(summary.count)}] snapshots
        h2 since #[span.highlighted #{h.moment(summary.firstDate).format('dddd, MMMM Do YYYY')}]
        h2 mostly from #[span.highlighted #{summary.commonCity},#{summary.commonState}].

  .light-gray-background
    .container
      .row
        .col-sm-6
          .dataCard.text-center.bar
            .chart
              svg#steps-line-chart
              script.
                $(document).ready(function() {
                  createLineChart('./api/v1/steps','steps-line-chart');
                });
            .dataHeader
              h3 Steps
      
