@import "lib/bootstrap/bootstrap";

@mixin background($from-color, $to-color) {
  background: -webkit-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: -moz-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: -o-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: -ms-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: linear-gradient(-45deg, $from-color 0%, $to-color 100%);
}

$font-stack: 'Roboto', Helvetica, sans-serif;
$font-monospace: 'Roboto Mono', monospace;
$white: #F4F5F7;
$light-gray: #F0F1F4;
$dark-gray: #282E37;
$gradient-morning: #C64188;
$gradient-day: #108CC8;
$gradient-evening: #843ddd;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

nav {
  position: absolute;
  top: 0;
  padding: 12px;
  width: 100%;
  color: $white;
  font-weight: 300;
  // background-color: $dark-gray;

  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  li {
    padding: 0 1.5em;
    min-width: 80px;
    text-align: center;
  }

  li:first-child {
    font-size: 1.33em;
    flex-grow: 1;
    text-align: left;
    font-weight: 300;

    a:before {
      content: none;
    }
  }

  a {
    position: relative;
    color: $white;
    font-size: 0.875em;
    font-weight: 400;
    // opacity: 0.8;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  a:hover {
    color: $white;
    text-decoration:none;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

footer {
  width: 100%;
  padding: 2em 0 1.5em 0;
  background-color: $dark-gray;
  color: $white;

  a {
    color: $white;
  }

  a:hover {
    color: $white;
  }
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.full-gradient-background {
  width: 100%;
  height: 100vh;
  @include background( $gradient-evening, $gradient-morning );
  margin: 0px;
  color: white;
}

.highlighted {
  background-color: $dark-gray;
  font-family: $font-monospace;
  color: $white;
  padding: 0.125em 0.3em;
  margin: 0em 0.3em;
}

.thinner {
  font-weight: 300;
}

.light-gray-background {
  background-color: $light-gray;
  padding: 30px 0;
}

.superscript {
  text-transform: uppercase;
  font-size:0.5em;
  top: -0.7em;
  font-weight: 700;
}

.cover {
  @include background( $gradient-evening, $gradient-morning );
  padding: 200px 0px;
  color: white;

  h2,h3 {
    font-weight: 300;
    line-height: 1.25em;
  }

}

// login form

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .login-form {
    width: 320px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .lock-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 50px;
  }

  button {
    width: 100%;
  }

  svg {
    height: 32px;
    fill: white;
  }

  form {
    width: 100%;
  }
}

//  RECENT PAGE STYLES

.dailyHeader {
  background: white;
  max-width: 30em;
  margin-left: -20px;
  padding: 0.75em 2em 1.25em 2em;
  border: 4px solid rgb(71,164,180);
  border-image: linear-gradient( $gradient-evening, $gradient-morning ) 1;
}

.cardContainer{
  padding: 10px 30px 60px 30px;
  border-right: 0px solid;
  border-left: 2px solid rgb(240,166,87);
  -webkit-border-image: -webkit-linear-gradient($gradient-morning, $gradient-day, $gradient-evening) 1 100%;

  h1 {
    color: #414243;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

  h4 {
    color: #313233;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    line-height: 2em;
    font-weight: 500;
  }

  p {
    font-weight: 300;
    color: #515253;
    line-height: 1.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  a:visited {
    color: #333;
    text-decoration: none;
  }

  .card {
    transition: all ease 0.12s;
    padding: 12px 16px;
    border: 1px solid #F1F2F3;
    border-radius: 4px;
    margin: 20px 0px 0px 0px;
    background-color: #fff;
  }

  .card:hover {
    border: 1px solid #E1E2E3;
    box-shadow: 0px 2px 6px #f1f2f3;
  }

  .card:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    margin: 7px -56px;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all ease 0.2s;
    border: 3px solid $gradient-day;
  }

  .card:hover:before {
    border: 8px solid $gradient-day;
  }

  .morning:before {
    border: 3px solid $gradient-morning;
  }

  .morning:hover:before {
    border: 8px solid $gradient-morning;
  }

  .evening:before {
    border: 3px solid $gradient-evening;
  }

  .evening:hover:before {
    border: 8px solid $gradient-evening;
  }
}

.dailyHeader:first-child {
  margin-top: 40px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;

  a {
    text-decoration: none;
    color: #515253;
    padding: 0.25em 0.5em;
    margin: 0 1.5em;
    border: 1px solid #333;
  }

  a:hover {
    color: #fff;
    background-color: #515253;
  }
}

// SNAPSHOT PAGE STYLES

.dataCard {
  margin-bottom: 30px;
  background-color: white;
  font-weight: 300;
  min-height: 166px;

  h1, h2, h3, h4, h5, h6, p {
    -webkit-margin-before: 0.125em;
    -webkit-margin-after: 0em;
  }

  table {
    border-bottom: 1px solid #E1E2E3;
    margin-bottom: 0px;
    margin-top: 16px;
  }

  hr {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  hr:last-child {
    border-top: none;
    margin-bottom: 10px;
    margin-top: 10px;
    // display: none;
  }

  .dataHeader {
     padding: 18px 16px;
     background-color: #282E37;
     color: white;

     a {
       color: white;
     }
   }

  .dataBody {
    padding: 16px 18px;
  }

  .wi-wind {
    font-size: 1.25em;
  }

  #map {
    height: 200px;
  }
}
