@import "lib/bootstrap/bootstrap";

@mixin background($from-color, $to-color) {
  background: -webkit-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: -moz-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: -o-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: -ms-linear-gradient(-45deg, $from-color 0%, $to-color 100%);
  background: linear-gradient(-45deg, $from-color 0%, $to-color 100%);
}

$font-stack: 'Roboto', Helvetica, sans-serif;
$font-monospace: 'Roboto Mono', monospace;
$white: #FCFDFD;
$blue-gray: #D8E1E6;
$off-white: #f1f2f3;
$light-gray: #DFE3E7;
$dark-gray: #282E37;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

nav {
  position: absolute;
  top: 0;
  padding: 12px;
  width: 100%;
  color: $white;
  font-weight: 300;

  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  li {
    padding: 0 0.75em;
    min-width: 80px;
    text-align: center;
  }

  li:first-child {
    font-size: 1.25em;
    flex-grow: 1;
    text-align: left;
  }

  a {
    position: relative;
    color: $white;
    font-size: 0.875em;
    font-weight: 400;
    // opacity: 0.8;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  a:hover {
    color: $white;
    text-decoration:none;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


}

footer {
  width: 100%;
  padding: 2em 0 1.5em 0;
  background-color: $light-gray;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.cover {
  @include background( rgba(88,75,161,1), rgba(198,65,136,1) );
  padding: 200px 0px;
  color: white;

  h2 {
    font-weight: 300;
    line-height: 1.125em;
  }

  .highlighted {
    background-color: $dark-gray;
    font-family: $font-monospace;
    color: $white;
    padding: 0.125em 0.3em;
  }

}
