mixin questionCard(questions)
  .dataCard
    .dataBody
      each question in questions
        h4.thinner #{question.questionPrompt} 
          if question.answeredOptions
            span.thinner #[span.highlighted #{question.answeredOptions}]
          if question.locationResponse
            span.thinner #[span.highlighted #{question.locationResponse.text}]
          if question.tokens
            each token in question.tokens
              span.thinner #[span.highlighted #{token.text}]
        hr
