mixin stepsCard(steps, altitude)
    .dataCard.text-center
      div(style='height:210px;')
      .dataHeader
        h2.thinner #{h.addCommas(steps)} Steps
      .dataBody
        .row.light-line
          .col-xs-4
            h3.thinner #{h.addCommas(steps)}
            small Steps
          .col-xs-4
            h3.thinner #{altitude.floorsAscended}
            small Floors Up
          .col-xs-4
            h3.thinner #{altitude.floorsDescended}
            small Floors Down
