mixin weeklyCoffeeSummary()
  .dataCard.text-center
    .bar.chart #{charts.test()}
      //- svg#coffee-bar-chart
      //- - charts.test()
      //- script.
      //-   $(document).ready(function() {
      //-     createBarChart('./api/v1/coffees','coffee-bar-chart', 'date', 'coffees' );
      //-   });
    .dataHeader
      h3 Coffee Consumption
    .dataBody
      .row
        .col-xs-4
          h3.thinner 9
          small Total Coffees
        .col-xs-4
          h3.thinner 1.29
          small Daily Average
        .col-xs-4
          h3.thinner -2
          small Last Week Change
