.axis--x .tick line {
  stroke: none;
}

.axis--y .domain {
  stroke: none;
}

.axis--y .tick line {
  stroke: $light-gray;
}

.tick text {
  fill: $dark-gray;
  font-family: $font-monospace;
}

.domain {
  stroke: $light-gray;
}

.bar {
  fill: $purple;
}
