.dataCard {
  margin-bottom: 30px;
  background-color: white;
  font-weight: 300;
  min-height: 166px;

  h1, h2, h3, h4, h5, h6, p {
    -webkit-margin-before: 0.125em;
    -webkit-margin-after: 0em;
  }

  i {
    color: $dark-gray
  }

  table {
    border-bottom: 1px solid #E1E2E3;
    margin-bottom: 0px;
  }

  hr {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  hr:last-child {
    border-top: none;
    margin-bottom: 10px;
    margin-top: 10px;
    // display: none;
  }

  .dataHeader {
     padding: 18px 16px;
     background-color: $dark-gray;
     color: white;

     a {
       color: white;
     }

     i {
       color: white;
     }
   }

  .dataBody {
    padding: 16px 18px;
  }

  .highlighted {
    line-height: 2em;
  }

  .wi-wind {
    font-size: 1.25em;
  }
  
  .chart {
    height: 210px;
  }
}
